:root {

    --wood-color-dark: #A05A14;
    --wood-color-light: #C76B02;
    --background-color: #60C266;

    /* Text styling */
    --text-color: #ffffff;
    --text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
    --font-family: "Silkscreen";
    --font-size: min(3.5vw, 2.8vh);
    --font-size-larger:  min(5vw, 4.5vh);
    --font-size-large:  min(7vw, 6.5vh);

    /* Border widths */
    --border-small: 2px;
    --border-medium: 3px;
    --border-large: 6px;

    --border-dark-opacity: 0.5;
    --border-light-opacity: 0.35;

    --border-radius: 5px;

    --btn-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    --btn-shadow-and-border: inset 0px 0px 0px var(--border-small) rgba(0, 0, 0, var(--border-dark-opacity)), var(--btn-shadow);


    /* Highlight color */
    --highlight-color: #ffcc00;

    /* Rarity colors */
    --rarity-common: #7FFF6C;
    --rarity-rare: #9CD7FD;
    --rarity-epic: #FFA593;
    --rarity-timeless: #EBD227;

    /* region colors */
    --farm-primary: #81BD2F;
    --farm-dark: #497018;
    --farm-light: #628E34;

    --outback-primary: #da9e79;
    --outback-dark: #76503d;
    --outback-light: #c18f52;

    --savanna-primary: #ddb553;
    --savanna-dark: #745f34;
    --savanna-light: #a38950;

    --northern-primary: #73a156;
    --northern-dark: #4a5f38;
    --northern-light: #59852c;

    --polar-primary: #83c1c0;
    --polar-dark: #4d6f70;
    --polar-light: #8fc6cb;

    --jungle-primary: #4b9f52;
    --jungle-dark: #26532c;
    --jungle-light: #235814;

    --jurassic-primary: #804b39;
    --jurassic-dark: #442b24;
    --jurassic-light: #2f0e05;

    --ice-age-primary: #b1c7ba;
    --ice-age-dark: #63726b;
    --ice-age-light: #92a399;

    --city-primary: #6f7072;
    --city-dark: #3b3c3e;
    --city-light: #515254;

    --mountain-primary: #839b8e;
    --mountain-dark: #495e5f;
    --mountain-light: #6a7d7b;

    --nocturnal-primary: #627a7a;
    --nocturnal-dark: #394d54;
    --nocturnal-light: #516468;

    --moon-primary: #7d7573;
    --moon-dark: #4a4643;
    --moon-light: #64605d;

    --mars-primary: #d47e6d;
    --mars-dark: #693e37;
    --mars-light: #9e6659;

    --constellation-primary: #506874;
    --constellation-dark: #253646;
    --constellation-light: #516468;
}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: min(max(var(--font-size), 8px), 16px);
    background-color: var(--background-color);
    font-family: var(--font-family), serif;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
}

html, body, #app, #router-view {
    height: 100%;
}

.wood-menu {
    padding: .5rem .8rem;
    background-color: var(--wood-color-dark);
    border: var(--border-large) solid rgba(255, 255, 255, var(--border-light-opacity));
    border-radius: var(--border-radius);
}

.wood-menu > h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.dock-bottom-shadow {
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.3);
}


.btn {
    padding: .4rem 0.75rem;
    box-shadow:var(--btn-shadow);
    cursor: pointer;
}

.btn-gradient {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 45%, rgba(0, 0, 0, 0) 46%);
}

.border-dark {
    border: var(--border-medium) solid rgba(0, 0, 0, 0.5);
}

.border-light {
    border: var(--border-medium) solid rgba(255, 255, 255, 0.5);
}


.dock-top {
    border-top: none;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.dock-bottom {
    border-bottom: none;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0 !important;
}

.dock-left {
    border-left: none;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.dock-right {
    border-right: none;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.color-action-good {
    background-color: #7CD61C;
}

.color-action-bad {
    background-color: #D7261C;
}

.color-action-neutral-1 {
    background-color: #FF8913;
}

.color-action-neutral-2 {
    background-color: #00A6F0;
}

.color-action-neutral-3 {
    background-color: #A822CF;
}

.color-action-info {
    background-color: #E7650D;
}

.rounded {
    border-radius: var(--border-radius);
}

.timeless {
    background-color: var(--rarity-timeless);
}
.epic {
    background-color: var(--rarity-epic);
}
.rare {
    background-color: var(--rarity-rare);
}
.common {
    background-color: var(--rarity-common);
}

.rounded,
.rounded--wrapper, .btn {
    clip-path: polygon(0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px);
    position: relative;
}
.rounded, .btn {
    border: 2px solid transparent;
}
.rounded--wrapper {
    width: fit-content;
    height: fit-content;
}
.rounded--wrapper .rounded {
    display: block;
    clip-path: polygon(2px 4px,
    4px 4px,
    4px 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 2px),
    4px calc(100% - 2px),
    4px calc(100% - 4px),
    2px calc(100% - 4px));
}
.rounded::after,
.rounded--wrapper::after, .btn::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px,
    0px 50%,
    2px 50%,
    2px 4px,
    4px 4px,
    4px 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 2px),
    4px calc(100% - 2px),
    4px calc(100% - 4px),
    2px calc(100% - 4px),
    2px 50%,
    0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    pointer-events: none;
    background: rgba(0, 0, 0, var(--border-dark-opacity));
}

.btn::after {
    background: rgba(0, 0, 0, var(--border-dark-opacity));
}
.rounded::after, .btn::after {
    margin: -2px;
}




.btn {
    clip-path: polygon(0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px);
    position: relative;
}
.btn {
    border: 2px solid transparent;
}
.btn::before {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px,
    0px 50%,
    2px 50%,
    2px 4px,
    4px 4px,
    4px 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 2px),
    4px calc(100% - 2px),
    4px calc(100% - 4px),
    2px calc(100% - 4px),
    2px 50%,
    0px 50%);
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    display: block;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.25);
}

.btn::before {
    margin: -2px;
}